package ${packageName};

import ${packageName}.${classSimpleName};
import net.bafeimao.umbrella.support.generated.CommonProto.MessageType;
import net.bafeimao.umbrella.support.generated.CommonProto.Packet;
import net.bafeimao.umbrella.support.server.message.DelegatedMessageHandler;
import net.bafeimao.umbrella.support.server.message.HandlerContext;
import net.bafeimao.umbrella.support.server.message.HandlerExecutionException;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

public class ${handlerNamePrefix}Handler extends DelegatedMessageHandler<${classSimpleName}, Packet> {
	private static final Logger LOGGER = LoggerFactory.getLogger(${handlerNamePrefix}Handler.class);


	@Override
	public void handle(HandlerContext ctx, Packet message) throws HandlerExecutionException {
		delegate.login(ctx, message);
	}

	public int getMessageType() {
		return MessageType.${messageType}.getNumber();
	}
}